doctype html
html(lang="zh-TW")
  head
    include components/_head.pug
  body
    include components/_draft_ribbon.pug
    include components/_nav.pug
    include components/_hero.pug
    include components/_about.pug
    include components/_gallery.pug
    include components/_features.pug
    include components/_location.pug
    include components/_pricing.pug
    include components/_contact.pug
    include components/_footer.pug

    script(src="js/index.js" defer)
