meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="小船254號｜台北士林後港墘福港街254號，後港墘社群交流咖啡館。1F 社區交流站與餐飲空間；B1「潛水艇計畫」多功能活動空間租借。捷運劍潭站3號出口，推薦步行路線約14分鐘，沿路享受綠蔭和小鎮步調的街景")
link(rel="icon" href="images/favicon.ico" type="image/x-icon")
meta(name="og:image" content="https://boat-254.pages.dev/logo.jpg")
meta(name="og:title" content="小船254 | 潛水艇計畫空間")
meta(name="og:description" content="小船254號｜台北士林後港墘福港街254號，後港墘社群交流咖啡館。1F 社區交流站與餐飲空間；B1「潛水艇計畫」多功能活動空間租借。捷運劍潭站3號出口，推薦步行路線約14分鐘，沿路享受綠蔭和小鎮步調的街景")
meta(name="og:url" content="https://boat-254.pages.dev")
meta(name="og:type" content="website")
meta(name="og:locale" content="zh-TW")
meta(name="og:site_name" content="小船254 | 潛水艇計畫空間")
title 小船254 | 潛水艇計畫空間
link(rel="stylesheet" href="styles/main.css")
link(rel="stylesheet" href="styles/responsive.css")
